// Fonts
$font-main: 'Inter', sans-serif;

// Colors
$dark: #000;
$grey: #757575;
$subtitle: #525252;
$mail-bg: #FFEBD8;
$card-bg: #F7F7F7;
$body-bg: #fff;

// Media
$laptop: 1300px;
$tablet: 959px;
$mobile: 500px;
